body{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    background-color: whitesmoke;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-start{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.navbar{
    background-color: whitesmoke;
}

.me-auto{
    margin: auto;
}

.me-auto a{
    margin: 10px;
    font-family: 'Courier New', Courier, monospace;
    width: fit-content;
}

.me-auto a:hover{
    color: navy;
}

.main-content > * {
    margin: 50px auto;
    padding: 30px 0;
    max-width: 1500px;
    border-radius: 10px;
}

h1, h2, h3{
    color: white;
}

.hero{
    padding: 5% 0;
    background: rgb(91,2,133);
    background: linear-gradient(90deg, rgba(91,2,133,1) 0%, rgba(6,131,124,1) 100%);
    color: white;
}

.hero .hello img{
    width: 40px;
    height: 40px;
}

.hero .name{
    font-size: 35px;
    font-weight: bold;
}

.hero .text{
    text-align: start;
    padding: 30px 10px;
}

.hero .contents{
    max-width: 900px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.hero .contents > * {
    margin: auto 15px;
    padding: 20px 10px;
}

.hero .image-holder{
    width: 360px;
    height: 360px;
    border-radius: 100%;
    padding: 0;
    background-color: whitesmoke;
}

.hero .image-container{
    width: 300px;
    height: 300px;
    margin: auto;
}

.hero  .find-me{
    margin: 20px;
}


.hero .links a img{
    width: 40px;
    height: 40px;
    margin: auto;
}

.hero .links a{
    margin: 7px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: whitesmoke;
    padding-top: 15px;
}

.about{
    background: rgb(5,153,144);
background: linear-gradient(90deg, rgba(5,153,144,1) 0%, rgba(115,13,143,1) 100%);
}

.about .flex-row-center > *{
    margin: 15px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 10px;
}

.about .description{
    max-width: 700px;
    padding: 30px 15px;
    margin: auto 15px;
    text-align: justify;
}

.about .image-holder{
    width: 280px;
    height: 280px;
    border-radius: 100%;
}

.about .image-container{
    width: 220px;
    height: 220px;
}

.skills{
    background: rgb(21,117,109);
    background: linear-gradient(90deg, rgba(21,117,109,1) 0%, rgba(49,10,116,1) 100%);
}

 .skills .flex-row-center{
    max-width: 900px;
    margin: auto;
}

.skill{
    width: 130px;
    height: 130px;
    margin: 15px;
    border-radius: 100%;
    padding-top: 20px;
    background-color: white;
}

.skill img{
    width: 60px;
    height: 60px;
}


.what-i-do{
    background: rgb(81,30,122);
background: linear-gradient(90deg, rgba(81,30,122,1) 0%, rgba(15,131,143,1) 100%);
}

.what-i-do h3{
    color: black;
}

.what-i-do img{
    width: 100px;
    height: 100px;
}

.what-i-do .flex-row-center > * {
    width: 350px;
    height: 300px;
    margin: 15px;
    padding: 15px;
    background-color: whitesmoke;
    color: black;
    border-radius: 10px;
}

.what-i-do p{
    text-align: justify;
}

.projects{
    background: rgb(7,138,127);
    background: linear-gradient(90deg, rgba(7,138,127,1) 0%, rgba(91,7,135,1) 100%);
}

.project{
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    margin: 15px;
}

.project .image-container{
    width: 380px;
    height: 220px;
}

.project img{
    border-radius: 10px;
}

.project .details{
    padding: 20px 10px;
    height: 400px;
    width: 380px;
    text-align: justify;
    position: relative;
}

.project h6{
    font-weight: bold;
}

.project .details > * {
    margin: 15px 0;
}

.project .links{
    position: absolute;
    bottom: 0;
    left: 40px;
    margin-top: 30px;
}

.project .links a{
    margin: 0 10px;
    padding: 10px 15px;
    background-color: rgba(6, 8, 108, 0.792);
    color: white;
    border-radius: 10px;
}

.project ul{
    padding: 0;
}

.contact{
    background: rgb(71,7,138);
background: linear-gradient(90deg, rgba(71,7,138,1) 0%, rgba(7,135,127,1) 100%);
}

.contact form{
    max-width: 500px;
    min-width: 350px;
    margin: auto;
    background-color: whitesmoke;
    border: none;
    border-radius: 10px;
}

.contact form > * {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px 0;
}

.contact form > * > * {
    padding: 5px 0;
    margin: 5px 0;
}

.contact form input, .contact form textarea{
    border: none;
    border-bottom: solid;
    border-width: 2px;
    background-color: inherit;
}

.contact form input:focus, .contact form textarea:focus{
    outline: none;
}

.contact form button{
    border: none;
    border-radius: 10px;
    width: 300px;
    margin: 30px auto;
    background: rgb(76,2,157);
    background: linear-gradient(90deg, rgba(76,2,157,1) 0%, rgba(14,108,103,1) 100%);
    color: white;
}



@media screen and (max-width: 600px) {
    .project .image-container{
        width: 330px;
        height: 180px;
    }
    
    .project .details{
        width: 330px;
    }

    form{
        width: 350px;
    }
    
}