body{
    background-color: whitesmoke;
    text-align: center;
}

/* General stylings */

.image-container img{
    width: 100%;
    height: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

li{
    list-style-type: none;
    text-align: justify;
}

ul{
    padding: 0;
}

.bi{
    font-size: 22px;
    color: red;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.body-main-content > * {
    padding: 50px 0;
}

.navbar{
    background-color: rgb(229, 228, 228);
}

.me-auto{
    margin: auto;
}

.me-auto a{
    color: black;
    padding: 5px;
    margin: 0 10px;
    font-size: 18px;
}

.me-auto a:hover{
    color: red;
}
h3{
    color: red;
}

#home{
    padding: 20% 0 22%;
}

#home .name{
    font-size: 50px;
    font-weight: bold;
    color: red;
}

#home .bi{
    font-size: 30px;
    background-color: rgb(223, 221, 221);
    padding: 10px;
    border-radius: 5px;
}

#home .main-content > *{
    margin: 30px 0;
}

#about{
    max-width: 800px;
    margin: auto;
}

#about p{
    text-align: justify;
}

.skills-container > *, .project, .resume-container > *, .testimonial{
    width: 330px;
    margin: 15px;
    background-color: rgb(241, 239, 239);
    text-align: justify;
    padding: 10px;
    border-bottom: solid;
    border-color: red;
    border-width: 2px;
    border-radius: 5px;
}

.resume-container .details > * {
    margin: 20px 0;
}

.download-link-container{
    margin: 30px 0;
}

.resume-download-link{
    border: solid;
    border-color: red;
    border-radius: 5px;
    padding: 10px 15px;
}

.resume-download-link:hover{
    background-color: red;
    color: white;
}

.resume-download-link:hover .bi{
    color: white;
}

#projects{
    max-width: 1200px;
    margin: auto;
}

.project{
    width: 400px;
    padding: 0;
}

.project .image-container{
    height: 200px;
}

.project ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start; 
}

.project li{
    margin: 0 10px;
}

.project .details{
    padding: 20px 7px;
}

.project .links a{
    border: solid;
    border-color: red;
    padding: 5px;
    margin: 0 7px;
    border-width: 2px;
    border-radius: 5px;
}

.project .links a:hover{
    background-color: red;
    color: white;
}

.project .links a:hover .bi{
    color: white;
}

#contact form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 700px;
    min-width: 360px;
    margin: auto;
}

#contact form input, #contact form textarea{
    border: none;
    border-bottom: solid;
    border-width: 2px;
    background-color: inherit;
}

#contact form input:focus, #contact form textarea:focus{
    outline: none;
}

#contact form > *{
    margin: 15px 0;
}

#contact form button{
    background-color: rgb(215, 213, 213);
    padding: 5px 20px;
    width: 300px;
    margin: auto;
    border: none;
    border-radius: 5px;
}

#contact form button:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 600px) {
    #home .name{
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
   .project{
    width: 370px;
   }
}