body{
    text-align: center;
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

a{
    text-decoration: none;
    color: inherit;
}

.bi{
    font-size: 22px;
    margin: 0 10px;
}

.flex-row-center{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
}

.image-container img{
    width: 100%;
    height: 100%;
}

.me-auto{
    margin: auto;
}

.navbar{
    background-color: whitesmoke;
}

.me-auto a{
    color: black;
    margin: 0 10px;
    padding: 5px;
}

.main-content > *{
    padding: 50px 0;
}


#home{
    padding: 20% 0 22%;
    font-size: 19px;
    background: rgb(231,227,227);
    background: linear-gradient(137deg, rgba(245, 245, 245,1) 53%, rgba(20,20,20,1) 100%);
}

.what-i-do-container > *{
    width: 350px;
    height: 250px;
    margin: 15px;
    border: solid;
    border-color: rgb(210, 210, 210);
    border-radius: 10px;
    border-width: 2px;
    padding: 50px 10px;
    text-align: justify;
    background-color: white;
}

.what-i-do-container .bi{
    font-size: 50px;
    margin: auto 10px;
}

.skills-container{
    max-width: 850px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.skill-container{
    width: 360px;
    height: 8px;
    background-color: grey;
    margin: 15px;
    border-radius: 10px;
}

.skill{
    width: 90%;
    height: 100%;
    background-color: black;
    border-radius: 10px;
}

.resume-contents-container > *{
    max-width: 400px;
    margin: 15px;
    border: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
    background-color: white;
    padding: 20px 10px;
    text-align: justify;
}

.resume-link{
    margin: 30px 0;
}

.resume-link a{
    padding: 10px 15px;
    width: 250px;
    margin: auto;
    background-color: white;
    border: solid;
    border-color: grey;
    border-width: 2px;
    border-radius: 10px;
}

.resume-link a:hover{
    background-color: black;
    border-color: black;
    color: white;
}

#resume h3 > * {
    margin: auto 5px;
}

#resume .bi-award, #resume .bi-book{
    font-size: 50px;
}

#projects{
    max-width: 1200px;
    margin: auto;
}

.project{
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    margin: 15px;
}

.project .image-container{
    width: 350px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}

.project img{
    border-radius: 10px;
    filter: grayscale(0.8);
}

.project .links{
    padding: 20px 0;
}

.project h6{
    padding: 10px;
    font-size: 17px;
    font-weight: bold;
}

.project a {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: white;
    border-radius: 10px;
}

.project .image-container a{
    padding: 0;
    margin: 0;
}

.project a:hover{
    background-color: black;
    color: white;
}


form{
    max-width: 650px;
    min-width: 360px;
    margin: auto;
}

form > *{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

form > * > *{
    margin: 15px 0;
}

form input, form textarea{
    border: none;
    border-bottom: solid;
    border-width: 2px;
    background-color: inherit;
}

form input:focus, form textarea:focus{
    outline: none;
}

form button{
    width: 300px;
    margin: auto;
    padding: 10px;
    background-color: black;
    border: none;
    border-radius: 10px;
    color: white;
}